#box {
  background-image: linear-gradient(0deg, #256D7B, #181918 65%);
}
/* .button {
  background: #00838f00;
  color: whitesmoke;
  box-shadow: 2px 2px 2px 10px rgba(0, 0, 0, 0.2);
} */

.button, .button-hamming {
  font-size: 20px;
  background-image: linear-gradient(0deg, #256D7B, #181918);
  color: whitesmoke;
  border: black;
  transition: all 1s;
  border-radius: 10%;
  font-size: 18px;
  font-weight: 900;
}
.button:hover {
  background-image: linear-gradient(0deg, #181918, #256D7B);
  box-shadow: 2px 2px 20px 10px whitesmoke;
}
/* Styles for window bin-gray */
#box-convert, #box-hamming {
  background: linear-gradient(0deg, rgb(36, 126, 126), rgb(27, 51, 51));
}
.label-convert, .label-hamming {
  font-size: 18px;
  font-weight: 700;
  color: whitesmoke;
}
.entry-convert {
  background: rgba(0, 255, 255, 0);
  color: whitesmoke;
  font-size: 17px;
}
/* Styles for window hamming */
.button-hamming {
  border-radius: 5px;
  transition: all 1s;
}
.button-hamming:hover {
  box-shadow: 2px 2px 20px 10px rgb(163, 234, 253);
}